/*start main rules*/
body
{
	/*background:#CCCCCC*/ /* I do not need to this color*/
	 height: 5600
}
.container
{
	width:1170px;
	margin: auto
}
.clearfix{clear:both}
/*End main rules*/
/*start header*/
.header .slider
{
	background-image: url('../images/f.jpeg');
	-webkit-background-size: cover;/*Css3*/
	-moz-background-size: cover;/*Css3*/
	-o-background-size: cover;/*Css3*/
	background-size: cover;/*Css3*/
	background-color: #EEE;
	height: 900px
}
.header .slider .intro 
{
	padding-top: 600px;
	padding-right: 170px;
	text-align: center;
	color:#fff
}
.header .slider .intro h2
{
	margin: 0 auto;
	width:500px;
	padding: 5px 0;
	border-top:4px solid #fff;
	border-bottom: 4px solid #fff;
    font-size: 40px;
	color: #09d1fd;
}
.header .slider .intro button
{
	background: none;
	width: 160px;
	color:#fff;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	fontsize:30px;
	border: 2px solid #fff;
	font-weight: bold;
	cursor: pointer
}

.header .navbar
{
	 background-color: #252e30;
		color:#fff;
	overflow: hidden;
}
.header .navbar h2 {float: left}
.header .navbar h2 span { color: #2ecc71}
.header .navbar ul
{
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	float: right	
}
.header .navbar ul li
{
    float: left;
    padding: 10px
}
.header .navbar ul li a
{
	color:#fff;
	text-decoration: none
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover
{
	color:#2ecc71
}
/* End header*/
/* Start Features*/
.features
{
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 50px
}
.features .feat
{
	float: left;
	width: 33.33333%;
	height: 150px;
	/*padding-bottom: 20px*/
}
.features .feat h2 
{
	 color:566366
}
.features .feat p
{
	line-height: 1.7;
	color:#919191;
	font-size: 18px;
	text-align: justify;
	padding: 0 70px 0 0
}
/* End Features*/
/* Start About Me*/
   .about-me
{
	background-color: #f2f2f1;
		overflow: hidden
}
.about-me .image
{
	float: left;
	width: 40%
}
.about-me .image img
{
	width: 100%;
	height: 8%
}
.about-me .info
{
	float:left;
	width: 60%
}
.about-me .info h2
{
	margin:13px 0 20px 30px;
	color:#566366
	
}
.about-me .info > p
{
	margin:0 0 10px 40px
}
.about-me .info p
{
	color:#666;
	line-height: 1.6
}
.about-me .info > p:last-of-type
{
	margin-top: 25px                    /*margin:20px 0 10px 40px */ 
}
.about-me .info .hobbies 
{
	overflow: hidden;
	margin: 15px 0 0 40px;
}

.about-me .info .hobbies .content
{
	float: left;
	width: 50%;
	min-height: 100px;
	overflow:hidden
}
.about-me .info .hobbies .content .icon
{
	float:left;
	width:12%;
	margin-right: 5%;
}
.about-me .info .hobbies .content .icon img
{
	max-width: 100%;
	margin:20px 10px 0 0 
}
.about-me .info .hobbies .content .text p
{
	margin-top:0
}
.about-me .info .hobbies .content .text h3
{
    margin-bottom: 5px;
	color:#566366
}
.about-me .info .hobbies .content .text
{
	float: left;
	width:83%
}

/* End About Me*/
/* Start My Skills*/
.my-skills
{
	/*background-color:#ddd; /*#ffffff*//* for layout only and i will remove it*/
	overflow: hidden;
    padding-top: 30px;
	padding-bottom: 50px   
}
.my-skills .skills, 
.my-skills .progress
{
	float:left;
	width: 50%
}
.my-skills .skills p
{
	color:#666;
	line-height: 1.6;
		margin:0 0 10px 40px
}
.my-skills .skills > p:last-of-type
{
	margin-top: 25px                    /*margin:20px 0 10px 40px */ 
}
.my-skills .skills h2
{
	margin:13px 0 20px 30px;
	color:#566366
}
.my-skills .skills button
{
	background: none;
	padding: 10px 20px;
	font-weight: bold;
	margin:20px 20px 0 40px;
	color:#2ecc71;
	border: 3px solid #2ecc71;
	cursor: pointer
}
.my-skills .progress .technique
{
	margin-left: 50px
}
.my-skills .progress .technique h3
{
	color:#566366
}
.my-skills .progress .technique div
{
	background-color: #f2f2f1;
	height:20px
}
.my-skills .progress .technique div span
{
	background-color:#2ecc71;
	 height: 20px;
	 color:#fff;
	 line-height: 20px;
	 text-align: right;
	 font-weight: bold;
	 display: block
}
/* End My Skills*/
/*Start Resume*/
.resume
{
	background-color: #f2f2f1;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align:center;
	
}
.resume h2 
{
	color:#566366;
	font-weight: bold
}
.resume p
{
	color:#ababab;
	line-height: 1.6;
	padding: 0 40px
}
.resume button
{
	background: none;
	padding: 15px 15px;
	margin-top: 20px 20px;
	color:#2ecc71;
	font-weight: bold;
	border: 3px solid #2ecc71
}
/*End Resume*/
/* start My Education*/
.my-education
{
	overflow: hidden;
    padding-top: 30px;
	padding-bottom: 30px;
	float: none
}
.my-education  hr
{
	margin: 20px 0;
	background-color:#cccccc;
	height: 1px;
	border: 0
}
.my-education .education
{
	float:left;
	margin-right: 5%;
	width: 50%
}

.my-education .education h2
{
	margin:13px 0 20px 30px;
	color:#566366
}
 .my-education .education p
{
	color:#666;
	line-height: 1.6;
	margin:0 0 10px 40px
}
.my-education .education  p:last-of-type
{
	margin-top: 25px                    /*margin:20px 0 10px 40px */ 
}
.my-education .programs
{
	float:left;
	width: 45%
}
.my-education .programs h3
{
	margin-top: 60px;
	margin-bottom: 10px;
	color:#566366;
	font-weight: bold
}
.my-education .programs span
{
	display: block;
	margin-bottom: 10px
}
.my-education .programs span:first-of-type
{
		color:#566366
}
.my-education .programs span:last-of-type
{
	background-color:#2ecc71;
	width: 90px;
	height:30px;
	color:#fff;
	line-height: 30px;
	font-weight: bold;
	text-align: center
}

.my-education .programs p
{
		color:#666;
	line-height: 1.6
}
/* End My Education*/
/* Start Testimonials*/
.testimonials
{
	background-color: #f2f2f1;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align:center
}
.testimonials q
{
	line-height: 1.7;
	color:#777;
	font-size:20px;
	font-weight: bold;
	font-style: italic
}
.testimonials h3
{
	color:#383f41;
	font-weight: bold;
	font-size: 25px;
	margin-bottom:30px
}
.testimonials ul
{
	list-style:none;
	padding-left:0;
	text-align:center;
}
.testimonials ul li
{
	width: 15px;
	height: 15px;
	border:2px solid #2ecc71;
	display: inline-block;
	cursor: pointer
}
.testimonials ul li.active,
.testimonials ul li:hover
{
	background-color:#2ecc71
}
/* End Testimonials*/
/* Start Portfolio*/
.portfolio
{
	padding-top: 50px;
	padding-bottom: 70px;
	text-align: center
}
.portfolio h2
{
	color:#666;
	font-weight: bold
}
.portfolio p
{
	color:#666;
	line-height: 1.7;
	margin-bottom: 10px;
}
.portfolio .our-work
{
	overflow: hidden;
}
.portfolio .our-work >div
{
	float: left;
	width:33.333333%;
	margin-bottom: 10px
}
.portfolio .our-work >div img
{
	width:50%;
    margin: 10px;
	padding: 3px;
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow: 10px 10px 12px #ccc
}
/* End Portfolio*/
/*Start ContactMe*/
.contact-me
{
	background-color: #252e30;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 70px
}
/*.contact-me .my-contants
{
	padding-top: 30px;
	padding-bottom: 30px
		
}*/
.contact-me .my-contants h2
{
	color: #ffffff;
	margin-left: 40px
}
.contact-me .my-contants p
{
	color: #919191;
	margin-left: 40px;
  line-height: 1.6
}
.contact-me .my-contants
{
	 float:left;
	 width: 50%;
	margin-right: 5%
}
 .contact-me .my-data
{
	float:left;
	width: 45%
}
.contact-me .my-contants strong,
 .contact-me .my-data label
{
	color: #ffffff
}
 .contact-me .my-data
{
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact-me .my-data label
{
	display: block;
	margin: 10px 0
}
.contact-me .my-data input[type="text"]
{
	background-color:#4b5456;
	color: #fff;
	border: 0;
	padding: 10px;
	width: 400px;
	height: 40px;
	margin-bottom: 10px
}
.contact-me .my-data textarea
{
	background-color:#4b5456;
	color: #fff;
	border: 0;
	padding: 10px;
	width: 400px;
	height: 200px;
	margin-bottom: 10px
}
.contact-me .my-data input[type="submit"]
{
	background-color: 191f21;
	color:#fff;
	border: 0;
	padding: 10px 20px;
	margin-top: 20px;
}
/*End ContactMe*/
/*Start Footer*/
  .footer
{
	background-color: #191f21;
	text-align: center;
	padding: 20px 0;
	color:485052;
	overflow: hidden
}
.footer span
{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: #4b5456
}
.footer ul
{
	list-style: none;
	padding-left: 0;
	margin: 10px 0 0
}
 .footer ul li
{
	display: inline-block;
	cursor: pointer
}

/*End Footer*/
/*Star frame Work*/
/*End frame Work*/